<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>



        <%- include('partials/header.ejs') %>
            <main>
                <div class="login-form">
                    <h3>Iniciar Sesión</h3>
                    <form action="/user/login" class="form" method="post">
                        <p><i class="fa-solid fa-envelope"></i>
                            <label for="correo electronico">Corre electrónico</label>
                            <input class="control" type="email" name="email">
                            <% if(locals.errors && locals.errors.email){ %>
                                <p style="font-size: small" class="error"> <%= locals.errors.email.msg %> </p>

                            <% } %> 
                        </p>
                        <p><i class="fa-solid fa-lock"></i>
                            <label for="Contraseña">Contraseña</label>
                            <input class="control" type="password" name="password">
                            <% if(locals.errors && locals.errors.password){ %>
                                <p style="font-size: small" class="error"> <%= locals.errors.password.msg %> </p>

                            <% } %> 
                        </p>
                        <% if(locals.errorLogin){ %>
                            <p style="font-size: small" class="error"> <%= errorLogin  %>  </p>
                            <% } %> 
                            <br>
                        <div class="options">

                            <p><input class="button-recordar" type="checkbox" name="remember" value="Recordar mi usuario">
                                Recordar
                                mi usuario</p>
                            <br>
                            <p><a href="#">¿Olvidaste la contraseña?</a></p>
                           


                        </div>
                        <div class="botones">

                            <p><button class="ingresar" type="submit">Ingresar</button></p>
                            <p><button class="volver" type="submit">Volver</button><a></a></p>

                        </div>


                        <p class="no-cuenta">¿No tenés cuenta?<a href="register">Registrate acá.</a></p>

                    </form>


                </div>

                <%- include('partials/footer.ejs') %>
            </main>



    </body>

</html>