<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>


    <body>


        <%- include('partials/header.ejs') %>


            <main>

                <div class="product-list">

                    <h1>Nuestros productos</h1>

                    <section class="product-container">

                        <% products.forEach(function(product) { %>

                            <a class="main-article" href="./detail/<%=product.id%>"><article >

                                <div class="image-container">
                                    <img src=<%= product.image || 'airpods.jpg'%> alt="producto">
                                </div>

                                <ul class="products">

                                    <li class="list-none">
                                        <%= product.name %>
                                    </li>

                                    <li class="price">
                                        $<%= product.price %>
                                          <div> <%= discount.filter(discount => {discount.id === product.discount_id})%> </div>
                                    </li>

                                    <div class="button-container">
                                        <button type="submit">Agregar al carrito</button>
                                    </div>

                                </ul>

                            </article></a>

                            <% }) %>

                    </section>

                </div>

            </main>


            <%- include('partials/footer.ejs') %>


    </body>

</html>