<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>


    <body>


        <%- include('partials/header.ejs') %>


            <main>

                <section class="product-create">

                    <h1>Crear Producto</h1>
                    <ul class="errores">
                        
                    </ul>

                    <form action="/products/create" method="POST" enctype="multipart/form-data" class="product-form">

                        <div class="input-label">

                            <div class="label">
                                <label for="name">Nombre</label>
                            </div>
                            <input class="input" type="text" name="name" id="name" >
                            <% if(locals.errors && locals.errors.name){ %>
                                <p style="font-size: small" class="error"> <%= errors.name.msg %></p>
                                <% } %> 
                        </div>


                        <div class="input-label">

                            <div class="label">
                                <label for="description">Descripcion</label>
                            </div>
                            <input class="input" type="textArea" name="description" id="description">
                            <% if(locals.errors && locals.errors.description){ %>
                                <p style="font-size: small" class="error"> <%= errors.description.msg %></p>
                                <% } %> 

                        </div>
                        <div class="input-label">

                            <div class="label">
                                <label for="color">Color</label>
                            </div>
                            <input class="input" type="text" name="color" id="color" >
                            <% if(locals.errors && locals.errors.color){ %>
                                <p style="font-size: small" class="error"> <%= errors.color.msg %></p>
                                <% } %> 

                        </div>
                        <div class="input-label">

                            <div class="label">
                                <label for="price">Precio</label>
                            </div>
                            <input class="input" type="text" name="price" id="price">
                            <% if(locals.errors && locals.errors.price){ %>
                                <p style="font-size: small" class="error"> <%= errors.price.msg %></p>
                                <% } %> 

                        </div>
                        <div class="input-label">

                            <div class="label-select">
                                <label for="discount" class="select-label">Descuento</label>
                            </div>
                            <select name="discount" id="discount" class="select">
                                
                                <% discount.forEach(function(discount){%>

                                <option value="<%=discount.dataValues.id%>"><%=discount.dataValues.discount%></option>             


                                <%})%>
                                
                                
                                
                            </select>
                          
                            </div>
                            <div class="input-label">
                                <div class="label-select">
                                    <label for="discount" class="select-label">Categoria</label>
                                </div>
                            <select name="category" id="category" class="select">
                                <% category.forEach(function(category){%>

                                    <option value="<%=category.dataValues.id%>"><%=category.dataValues.name%></option>             
    
    
                                    <%})%>
                            </select>

                        </div>

                        <div class="product-create-img">

                            <div>
                                <label for="image" class="image-label">Imagen</label>
                            </div>
                            <input class="input-image" type="file" name="image" id="image" >
                        </div>

                        <div class="button-container">

                            <button class="erase-button" type="reset">Borrar</button>
                            <button class="create-button" type="submit">Crear</button>

                        </div>

                    </form>

                </section>

            </main>


            <%- include('partials/footer.ejs') %>


    </body>
    <script type="text/javascript" src="../js/productValidator.js"></script>
</html>