<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>


    <body>


        <%- include('partials/header.ejs') %>


    <main>
        <div class="main-wrapper">
            <h1>Detalle Producto</h1>
            <div class="product-container">
                <div class="box">
                    <div class="product">
                        <img src="\images\<%= product.image || 'airpods.jpg' %>" alt="prod">
                        <div class="content">
                            <h3><%= product.name %></h3>
                            <h4 class="price"><%= product.price %><%="  "%> <%= product.discount %>% OFF</h4>
                            <h4>Caracteristicas:</h4>
                            <p class="description">
                               <%= product.description %>
                            </p>
                            <p class="quantity">Cantidad: <input  value='2' type="number"></p>
                            
                        </div>
            
                <div class="buttons">
                    <p class="button-content">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="cart-button">Agregar al Carrito</span>
                    </p>
                </div>

            </div>
        
    </div>
    </div>
        <h2 class="bottom-title">Productos que podrian interesarte</h2>
        <section class="bottom">
            
            <a href="#"><div class="related-product">
                <img src="\images\airpods.jpg" alt="airpods" class="related-image">
                <p class="price-related">25000$</p>
                <p class="name-related">Airpods</p>
            </div></a>
            <a href="#"><div class="related-product">
                <img src="\images\applewatch.jpg" alt="applewatch" class="related-image">
                <p class="price-related">80000$</p>
                <p class="name-related">Applewatch</p></a>
            </div>
            <a href="#"><div class="related-product">
                <img src="\images\1366_2000.jpg" alt="iphone" class="related-image">
                <p class="price-related">300000$</p>
                <p class="name-related">Iphone 14</p></a>
            
        </section>



        


    </main>
    <%- include('partials/footer.ejs') %>

</body>
</html>