<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>


    <body>


        <%- include('partials/header.ejs') %>


            <main>

                <section class="product-create">

                    <h1>Editar Producto</h1>

                    <form action="/products/edit/<%= product.id %>?_method=PUT" enctype="multipart/form-data" method="POST" class="product-form">

                        <div class="input-label">

                            <div class="label">
                                <label for="name">Nombre</label>
                            </div>
                            <input class="input" type="text" value="<%= product.name %>" name="name" id="name" required>

                        </div>

                         <!-- <div class="input-label">

                            <div class="label">
                                <label for="modelo">Modelo</label>
                            </div>
                            <input class="input" type="text" name="modelo" id="modelo" required>

                        </div>  -->

                        <!-- <div class="input-label">

                            <div class="label">
                                <label for="marca">Marca</label>
                            </div>
                            <input class="input" type="text" name="marca" id="marca" required>

                        </div> -->

                        <div class="input-label">

                            <div class="label">
                                <label for="description">Descripcion</label>
                            </div>
                            <input class="input" type="text" value="<%= product.description %>" name="description" id="description" required>

                        </div>

                         <div class="input-label">

                            <div class="label">
                                <label for="color">Color</label>
                            </div>
                            <input class="input" type="text" value="<%= product.color %>" name="color" id="color" required>

                        </div> 

                        <div class="input-label">

                            <div class="label">
                                <label for="price">Precio</label>
                            </div>
                            <input class="input" type="text" value="<%= product.price %>" name="price" id="price" required>

                        </div>
                        
                        <div class="input-label">

                            <div class="label">
                                <label for="discount">Descuento</label>
                            </div>
                            <select name="discount" id="discount" class="select">
                                <option value="11">0</option>
                                <option value="1">5</option>
                                <option value="2">10</option>
                                <option value="3">15</option>
                                <option value="4">20</option>
                                <option value="5">25</option>
                                <option value="6">30</option>
                                <option value="7">35</option>
                                <option value="8">40</option>
                                <option value="9">45</option>
                                <option value="10">50</option>
                                
                            </select>
                            

                            </div>
                            <div class="input-label">
                            <select name="category" id="category" class="select">
                                <option value="1">Smartphones</option>
                                <option value="2">Notebooks</option>
                                <option value="3">Smartwatchs</option>
                                <option value="4">Tv</option>
                                <option value="5">Tablets</option>
                            </select>

                        </div>

                        <div class="product-create-img">

                            <div>
                                <label for="image">Imagen</label>
                            </div>
                            <input class="input-image" type="file" name="image" id="image" >

                        </div>

                        <div class="button-container">

                            <button type="reset">Borrar</button>
                            <button type="submit">Editar</button>

                        </div>


                    </form>

                    <div class="button-erase-container">
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">Eliminar Producto</button>
                        </form>
                    </div>

                </section>

            </main>


            <%- include('partials/footer.ejs') %>


    </body>

</html>