<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>


    <body>


        <%- include('partials/header.ejs') %>


            <main>

                <div class="product-list">

                    <h1>Listado de productos</h1>

                    <section class="product-container">

                        <% products.forEach(function(product) { %>

                            <article class="main-article">

                                <div class="image-container">
                                    <img src="\images\<%= product.image || 'airpods.jpg' %>" alt="producto">
                                </div>

                                <ul class="products">

                                    <li class="list-none">
                                        <%= product.name %>
                                    </li>

                                    <li class="price">
                                        $<%= product.price %>
                                            <%= product.discount %>%
                                    </li>

                                    <div class="button-container">
                                        <button type="submit">Agregar al carrito</button>
                                    </div>

                                </ul>

                            </article>

                            <% }) %>

                    </section>

                </div>

            </main>


            <%- include('partials/footer.ejs') %>


    </body>

</html>