<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
            <main>
                <div class="register-form">
                    <h3>Creá tu cuenta</h3>


                
                        <form action="/user/register" class="register" method="post" enctype="multipart/form-data">

                            <label for="Nombre">Nombre</label>

                            <input class="control" type="text" name="nombre" >
                            <% if(locals.errors && locals.errors.nombre){ %>
                            <p style="font-size: small" class="error"> <%= errors.nombre.msg %></p>
                            <% } %> 
                            <label for="Apellido">Apellido</label>

                            <p><input class="control" type="text" name="apellido" >
                                <% if(locals.errors && locals.errors.apellido){ %>
                                <p style="font-size: small" class="error"> <%= errors.apellido.msg %></p>
                                <% } %> </p>

                            <label for="correo electronico">Corre electrónico</label>

                            <p><input class="control" type="email" name="email" >
                                <% if(locals.errors && locals.errors.email){ %>
                                    <p style="font-size: small" class="error"> <%= errors.email.msg  %> </p>
                                    <% } %> 
                            </p>

                            <label for="contraseña">Contraseña</label>

                            <p><input class="control" type="password" name="password" placeholder="Mínimo 8 caracteres, una mayúscula y un número">
                                    <% if(locals.errors && locals.errors.password){ %>
                                        <p style="font-size: small" class="error"> <%= errors.password.msg %></p>
                                        <% } %> 
                                </p>

                             <!-- <label>Categoria</label>       
                            <input  class= "control" type="list" name="categoria" list="categoria">
                            <datalist id="categoria">
                                <option>Vendedor</option>
                                <option>Comprador</option>
                            </datalist> -->
                            <br>
                            <br>
                            <div class="foto">
                            <label for="foto">Foto de perfil</label>
                            <br>
                            <br>
                            <input  type="file" name="profileImage">
                            </div>
                            <br>



                            <div class="options">

                                <p><input class="conditions" type="checkbox" name="terminos" value="terminos"> Acepto
                                    términos y
                                    condiciones</p>

                                <p><input class="suscription" type="checkbox" name="suscripcion" value="suscripcion">
                                    Recibir
                                    novedades y ofertas especiales</p>

                            </div>

                            <div class="botones">

                                <p><button class="aceptar" type="submit">Aceptar</button></p>
                                <p><button class="cancelar" type="submit">Cancelar</button></p>




                            </div>
                        </form>

                </div>

                <%- include('partials/footer.ejs') %>
            </main>


    </body>

</html>