<h3>Perfil de usuario</h3>
                <div>

                   
                        <div>
                                                               
                                <img src=<%= user.profileImage %> alt="planta1" class="users_img">
                                <span class="name"><%= user.name %></span>
                                <span class="apellido"><%= user.lastName %></span>
                                <span class="categoria"><%= user.admin %></span>
                                <span class="email"><%= user.email %></span>
                                
                        </div>
                 

                </div>  
